* {
    box-sizing: border-box
}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
}

.addEmp {
    border: none;
    margin-left: 48%;
    background-color: orange;
    color: white;
    padding: 8px;
}

.addEmp:hover {
    opacity: 0.7;
}

.updateEmp {
    border: none;
    margin-left: 80%;
    background-color: lightslategrey;
    color: white;
    padding: 6px;
}

.updateEmp:hover {
    opacity: 0.7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    min-height: 100%;
}

#Department {
    background-color: red;
}

#Employee {
    background-color: orange;
}

/* Center website */
.exc {
    padding-top: 20px;
    max-width: 100%;
    padding-bottom: 20px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 0px 30px;

}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 12px;

}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    text-decoration: none;
    display: table-cell;
}

.longColumn {
    float: left;
    width: 80%;
    text-decoration: none;
    display: table-cell;
    margin-left: 10%;
    margin-top: 18px;
}

h4 {
    height: 2em;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    border: 2px solid RGBA(0, 0, 0, 0);
    transition: .7s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(15, 13, 60, 0.65);
    -moz-box-shadow: 0px 0px 15px 0px rgba(15, 13, 60, 0.65);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(15, 13, 60, 0.65);
}

.content:hover {
    box-shadow: 1px 1px 25px 0px rgba(15, 13, 60, 0.95);
    -moz-box-shadow: 1px 1px 25px 0px rgba(15, 13, 60, 0.95);
    -webkit-box-shadow: 1px 1px 25px 0px rgba(15, 13, 60, 0.95);
    border: 2px solid rgba(15, 13, 60, 0.65);
    transition: .7s ease-in-out;
}

.content p {
    text-align: justify;
    font-family: Hypatia;
    color: rgba(15, 13, 60, 1);

}

.content i {
    color: rgba(15, 13, 60, 0.5);
}

.content .params {
    color: rgba(15, 13, 60, 0.5);
    margin: 0.3%;
}

.inputChange {
    float: left;
    width: 40%;
    margin: -20px 5% 0 5%;
    border: none;
    background-color: lightslategrey;
    padding: 5px 0;
    color: white;
}

.inputList {
    float: left;
    width: 40%;
    margin: -20px 5% 0 5%;
    border: none;
    background-color: #777777;
    padding: 5px 0;
    color: white;
}

.inputList:hover,
.inputChange :hover {
    opacity: 0.7;
}

.tableContent {
    color: #777777;
    font-size: 0.8em;
}

.tableContent tr {
    margin-top: 6px;
    line-height: 2em;
}
